<div class="container col-lg-8 offset-lg-3 col-md-10 offset-md-1 col-sm-10 offset-sm-1 ">
    <div class="row">

        <div class="boxes col-lg-11 offset-lg-1 col-lg-10 offset-md-1 col-sm-10 offset-sm-1" style="margin: 1%;">
            <h2 style="color: white;">Project Tasks</h2> <br>
            <form style="color: white; font-family: 'Poppins', sans-serif; font-size: 1.3em;">

                <input class="b" type="checkbox" (click)="move1()" id="box-1">
                <label class="b" for="box-1">Task 1</label>

                <input class="b" type="checkbox" (click)="move1()" id="box-2">
                <label class="b" for="box-2">Task 2 </label>

                <input class="b" type="checkbox" (click)="move1()" id="box-3">
                <label class="b" for="box-3">Task 3</label>

                <input class="b" type="checkbox" (click)="move1()" id="box-4">
                <label class="b" for="box-4">Task 4</label>

            </form>
            <br>
            <br>
            <br>
            <h2 style="color: white;">Project Progress</h2>
            <!-- <div class="progress">
                <div id="section" class="progress-bar progress-bar-striped progress-bar-animated shift" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div> -->
            <br>
            <progress-bar [progress]="20" [color]="'#488aff'">
            </progress-bar>
        </div>
    </div>
</div>